.container{
  height: 300px;
  width: 600px;
  background-color:rgb(54, 247, 15);
  display: grid;
  /* grid-template-rows: 80px 80px 80px 80px ;
  grid-template-columns: 100px 100px 100px 100px; */
grid-template-rows: repeat(4,1fr);
grid-template-columns: repeat(3,1fr);
grid-gap: 10px 10px;
/* justify-items: center;
align-items: center; */
place-items: center;

}
#one{
  /* grid-column-start: 1;
  grid-column-end: 3; */
  /* grid-column: 1/3; */
}

.two{
  /* grid-row-start: 1;
  grid-row-end: 3; */
  /* grid-row: 1/3; */
}
.item
{
  height: 50px;
  width: 80px;
  background-color: yellowgreen;
  text-align: center;
  border: 2px solid red;
}

