#div
{
  height: 200px;
  width: 75px;
  border: 2px solid black;

}
.box
{
  height: 50px;
  width: 50px;
  border: 2px solid black;
  margin: 10px;
  border-radius: 50%;
}
#red
{
  background-color: red;
}
#yellow
{
  background-color: yellow;
}
#green
{
  background-color: green;
}
#div1
{
  height: 150px;
  width: 300px;
  background-color: gray;
  border: 5px dotted black;
  margin-top: 20px;
  margin-right: 1em;
  margin-bottom: 40px;
  margin-left: 2em;
  padding: 1em;



}
.container{
  height: 100px;
  width: 100px;
  border: 2px solid black;
  border-radius: 50%;
  display: inline-block;
  background-color: aqua;
}
ul li{
  display: inline;
}