/* div{
  height: 50px;
  width: 200px;
  background-color: aqua;
  margin: 50px auto;
  border: 2px solid ;
} */
 /* span{
  background-color: yellow;
}
section{
  margin-top: 100px;
}
div:nth-of-type(2n)
{
  background-color: red;
}
div:nth-of-type(3n)
{
  background-color: blue;
}  */
/* transform */
/* #one
{
  transform: rotate(45deg);

}
#two
{
  transform: scale(0.5);
  transform: scaleX(2);
  transform: scaleY(.5);
}
#three
{
  transform: translate(50px ,50px);
}
#four
{
  transform: skew(30deg);
}
#five
{
  transform: rotate(45deg) scale(1.5);
}
.shadow
{
  height: 100px;
  width: 300px;
  background-color: aqua;
  box-shadow: 2px 2px 5px red;
  border: none;
}
.b-image
{
  height: 500px;
  width: 800px;
  background-color: aqua;
  margin: 0 auto;
  border: none;
  background-image: url("background.jpg");
  background-size: cover;
} 
.card
{
  height: 200px;
  width: 200px;
  border: 2px solid black;
  display: inline-block;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0px 5px 10px black;
}
.card img{
height: 100px;
width: 200px;

}
.card:hover
{
  box-shadow: 2px 10px 15px black;
} */ 
div{
height: 150px;
width: 150px;
background-color: blue;
border: 2px solid black;
display: inline-block;
}
#static
{
  background-color: yellow;
 position: static;
  top: 40px;
  left: 40px;
}
#relative
{
  background-color: yellow;
 position: relative;
  top: 40px;
  left: 40px;
}
#absolute
{
  background-color: yellow;
 position: absolute;
  top: 40px;
  left: 40px;
}
#fixed
{
  background-color: yellow;
  position: fixed;
  top: 40px;
  left: 40px;
}