/* *{
  font-family:Geneva ;
}
/* h1{

  color: rgb(20, 20, 21);
  text-align: center;
  letter-spacing: 10px;

} */
/* p{
  color: rgb(249, 6, 201);
  font-weight: 700;
  line-height: 5;
  text-decoration: underline;
}
/* practices Qs 3:-- */
/* #fb 
{
  color: rgb(5, 140, 223);
  font-family:Courier New;
}
#login ,#register
{
  background-color: aqua;
border-color: black;
color: rgb(89, 87, 87);
}
#search1
{
  background-color: black;
  color: aliceblue;
}  */

/* parctice question:- */
#maintopic
{
  color: blue;
}
*
{
 text-align: center;
}
h1,h3,h5{
  font-family: Georgia, 'Times New Roman', Times, serif;
}
p{
  color: white;
  background-color: cornflowerblue;
}
div>button{
  background-color: purple;
 color: azure;
}
div>button:hover{
  background-color: yellow;
  color:blue;
}
p:nth-of-type(1)
{
  color: yellow;
}
h1::first-letter
{
  color: red;
}
#yes:checked + label{
  color: darkgreen;
}